.overlay__image {
    max-height: 80vh;
    max-width: 80vw;
    z-index: 1001;

}

/*@media (max-width: 1280px) {*/
/*.overlay__image{*/
/*    position: absolute;*/
/*    left: 10%;*/
/*    top: 78px;*/
/*}*/
/*}*/